# Comprobación de correcta ingesta

In [3]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine(
    "postgresql://postgres:postgres@localhost:5432/airbnb"
)

listings_db = pd.read_sql(
    "SELECT * FROM raw_listings LIMIT 5",
    engine
)

reviews_db = pd.read_sql(
    "SELECT * FROM raw_reviews LIMIT 5",
    engine
)

listings_db.head(), reviews_db.head()

(       id                          listing_url       scrape_id last_scraped  \
 0   48154   https://www.airbnb.com/rooms/48154  20250923203019   2025-09-24
 1  137143  https://www.airbnb.com/rooms/137143  20250923203019   2025-09-24
 2  149715  https://www.airbnb.com/rooms/149715  20250923203019   2025-09-24
 3  165971  https://www.airbnb.com/rooms/165971  20250923203019   2025-09-24
 4  276455  https://www.airbnb.com/rooms/276455  20250923203019   2025-09-24

             source                                       name  \
 0      city scrape              Precioso apartamento con wifi
 1      city scrape             PENTHOUSE  ON FRONT LINE BEACH
 2      city scrape  1900 Style Valencian Beach  Home for 10px
 3      city scrape                   ★ Architectural touch! ★
 4  previous scrape        Great Room in an apartment,Valencia

                                          description  \
 0  Second floor on a farm from the late 19th cent...
 1                                               None
 2  Typical town house with 5 bedrooms and 4 bathr...
 3  Hola! I am ready to welcome you in my apt., wh...
 4                                               None

                                neighborhood_overview  \
 0  Very close neighborhood to the city's old town...
 1                                               None
 2  Surrounded by  historic houses,  authentic res...
 3  Just outside the old city centre (one block aw...
 4                                               None

                                          picture_url  host_id  ...  \
 0  https://a0.muscache.com/pictures/1109085/9c0d4...   219476  ...
 1  https://a0.muscache.com/pictures/hosting/Hosti...   670775  ...
 2  https://a0.muscache.com/pictures/808b4883-c57f...     5947  ...
 3  https://a0.muscache.com/pictures/10878830/ade6...   791187  ...
 4  https://a0.muscache.com/pictures/3050080/ffc3a...  1444357  ...

   review_scores_communication review_scores_location review_scores_value  \
 0                        4.80                   4.52                4.52
 1                        5.00                   4.00                4.00
 2                        4.89                   4.63                4.62
 3                        4.88                   4.84                4.84
 4                         NaN                    NaN                 NaN

                                              license instant_bookable  \
 0                                         VT-41540-V                f
 1                                           VT32745V                f
 2  ESFCTU000046025000580569000000000000000000VT-3...                f
 3                                         VT-32757-V                t
 4                                               None                f

   calculated_host_listings_count calculated_host_listings_count_entire_homes  \
 0                              4                                           4
 1                              5                                           5
 2                              1                                           1
 3                              8                                           8
 4                              1                                           0

   calculated_host_listings_count_private_rooms  \
 0                                            0
 1                                            0
 2                                            0
 3                                            0
 4                                            1

   calculated_host_listings_count_shared_rooms reviews_per_month
 0                                           0              1.08
 1                                           0              0.01
 2                                           0              1.81
 3                                           0              3.34
 4                                           0               NaN

 [5 rows x 79 columns],
    listing_id      id        date  reviewer_id    reviewer_name  \
 0       48154  117554  2010-10-12       180238           Martha
 1       48154  145645  2010-11-28       204240             Mark
 2       48154  190572  2011-03-01       258565         Domenico
 3       48154  195081  2011-03-08       213496  Romina & Martín
 4       48154  218435  2011-04-05       340330            Jenna

                                             comments
 0  Toni's place was perfect in so many ways.  It ...
 1  Awesome stay!! We'd recommend Toni's apartment...
 2  really nice house in a wonderfull position! yo...
 3  Apartamento muy agradable, al igual que su pro...
 4  Was a great apartment, easy access to the site...  )

Hemos añadido conservado, además de barrio, 'district'. Esta columna puede sernos útil para cruzarla con los datos geográficos de libre acceso del ayuntamiento de València, ya que están agrupados por distritos en vez de barrios.

In [4]:
engine = create_engine("postgresql://postgres:postgres@localhost:5432/airbnb")

df = pd.read_sql("select * from public.stg_listings limit 5", engine)
df

,listing_id,host_id,neighbourhood,district,latitude,longitude,property_type,room_type,accommodates,bedrooms,beds,bathrooms,price,minimum_nights,availability_365,number_of_reviews,reviews_per_month,review_scores_rating
0,48154,219476,MORVEDRE,LA SAIDIA,39.48375,-0.37502,Entire rental unit,Entire home/apt,4,2.0,2.0,1 bath,83.0,3,150,197,1.08,4.61
1,137143,670775,EL SALER,POBLATS DEL SUD,39.36335,-0.31932,Entire rental unit,Entire home/apt,7,1.0,14.0,1.5 baths,390.0,10,20,1,0.01,0.00
2,149715,5947,CABANYAL-CANYAMELAR,POBLATS MARITIMS,39.46746,-0.32813,Entire home,Entire home/apt,10,5.0,7.0,4 baths,245.0,2,287,313,1.81,4.67
3,165971,791187,LA ROQUETA,EXTRAMURS,39.46790,-0.38206,Entire rental unit,Entire home/apt,4,1.0,1.0,1 bath,124.0,5,106,576,3.34,4.87
4,276455,1444357,LA CARRASCA,ALGIROS,39.47317,-0.33932,Private room in rental unit,Private room,1,NaN,NaN,2 baths,NaN,2,0,0,NaN,NaN

In [5]:
# Revisar stg_listings
df_listings = pd.read_sql("SELECT * FROM public.stg_listings LIMIT 5", engine)
df_listings

# Revisar stg_reviews
df_reviews = pd.read_sql("SELECT * FROM public.stg_reviews LIMIT 5", engine)
df_reviews

,review_id,listing_id,reviewer_id,reviewer_name,review_date,comments
0,117554,48154,180238,Martha,2010-10-12,Toni's place was perfect in so many ways. It ...
1,145645,48154,204240,Mark,2010-11-28,Awesome stay!! We'd recommend Toni's apartment...
2,190572,48154,258565,Domenico,2011-03-01,really nice house in a wonderfull position! yo...
3,195081,48154,213496,Romina & Martín,2011-03-08,"Apartamento muy agradable, al igual que su pro..."
4,218435,48154,340330,Jenna,2011-04-05,"Was a great apartment, easy access to the site..."